.container {
  /*border: 1px solid black;*/
  width: 75%;           /*It helps to maintain a width which is 75% of total width of the page*/
  margin: 0 auto;
  text-align: center;   /*Aligns every text (not table) to the center*/
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
  display: flex;
  /*border: 1px solid black;*/
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  }

.flex-blackjack-row-1 {
  background: url("images/tableBackground.png") center;     /*'center' is used so that the center of the image is primarily visible*/
  color: #ffffff;     /*This changes the text color to white from black and it is done for creating a contrast between image and text*/
}

.flex-blackjack-row-1 div {
  /*border: 1px solid black;*/
  padding: 10px;    /*Gives the text a little bit of breathing room*/
  flex: 1;          /*To make sure that the flex items are taking up an equal amount of space*/
  text-align: center;
  height: 350px;    /*Height of the div*/
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  padding: 10px;   /*Padding between the buttons*/
}

.flex-blackjack-row-2 div {
  /*border: 1px solid black;*/
  padding: 10px;   /*Padding between the div border and buttons*/
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}